body {
    background-color: rgb(31, 18, 34);
    font-family: quicksand;
    color: rgb(235, 233, 233);
}
.header {
    text-align: center;
    font-size: 25px;
    /* font-family:; */
}
.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.value {
    width: 3in;
    height: 30px;
    margin: 30px;
    border-radius: 7px;
}
.option {
    font-size: 20px;
}
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    font-size: 18px;
    border-radius: 0.4em;
    margin: 1em;
}

.btns {
    display: block;
    align-content: center;
}